fastapi[standard]
uvicorn
transformers
pydantic
pandas
scikit-learn
torch
passlib
bcrypt==3.1.7
PyJWT>=2.0.0
python-multipart
streamlit
pyjwt
transformers==4.30.2 
pytest
pytest-cov
httpx  # For testing FastAPI apps
pandas==1.5.2